@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --cor-primaria: #6F4798;
    --cor-secundaria: #83119B;
    --cor-terciaria: #564899;
    --cor-light: #F6F6F6;
    --cor-dark: #3d3d3d;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-light);
    color: var(--cor-dark);
    font-size: 18px;
}

strong {
    color: var(--cor-primaria);
}

.primary-button {
    background-color: var(--cor-primaria);
    box-shadow: 1px 1px 4px var(--cor-dark);
    color: var(--cor-light);
    width: 150px;
    height: 4vh ; 
}

.primary-button:nth-child(2) {
    background-color: var(--cor-terciaria);
}

.primary-button:hover{
    background-color: #915fc4;
    color: var(--cor-light);
}

.text-secondary{
    font-size: 14px;
}

.text-secondary::before{
    background-image: url("./img/Desktop_tablet_cell.png");
}

.card {
    border: 3px solid var(--cor-primaria);
    border-radius: 40px;
    background-color: var(--cor-light) ;
    color: var(--cor-dark);
}

footer {
    background-color: var(--cor-primaria);
}

