@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');

:root {
    --salt-color: #FFF5E1;
    --salt-borda1-cor: #d1bc93;
  }

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-salt {
    background-color: var(--salt-color) !important;
}

.nav-link:hover {
    color: black;
}

.frase {
    background-image: linear-gradient(20deg, var(--salt-color) 2%, #fdad8d 12%, var(--salt-borda1-cor) 100%);
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
}

.botao{
    border-color: var(--salt-borda1-cor);
}

.botao:hover {
    background: var(--salt-color);
}

.home_app {
    width: 70%;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, #ffb588, #FFDE59);
    border-image-slice: 1;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.icones {
    color: #967128;
}

.cards_funcionalidades {
    border-color: white;
    transition: 0.2s;
}

.cards_funcionalidades:hover {
    border-color: var(--salt-color);
    scale: 104%;
    background-color: var(--salt-color);
}

.card-body {
    transition: background-color 0.25s;
}

.texto_cards, .texto_saleiro {
    line-height: 1.75;
}

.saleiro {
    width: 90%;
}

footer {
    background-color: #444039;
}

@media (max-width: 719px) {
    .botao {
        width: 60%;
        display: block;
        margin: auto;
    }
}

@media (max-width: 959px) {
    .texto_salt {
        text-align: center;
    }

    .item_menu {
        padding-left: 1%;
    }

    .img_saleiro {
        justify-content: center;
    }
}