@import url(default.css);

h1 {
    text-align: center;
    color: var(--cor-preta);
    font-size: 4rem;
}

p {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--cor-cinza);
}

.forms {
    margin: 1.5rem 40%;
}

.btn {
    width: 16.375rem;
    height: 3rem;
    color: var(--cor-branca);
    border-radius: 4px;
    border: none;
    font-size: 1.5rem;
}

.botao-entrar {
    background-color: var(--cor-amarela);
}

.botao-entrar:hover {
    background-color: var(--cor-amarela-hover);
    color: var(--cor-branca);
}

.form-check-label {
    font-size: 0.85rem;
    color: var(--cor-cinza);
}

.opcoes {
    text-align: center;
}

.ja-tem-conta-link {
    color: var(--cor-laranja);
    text-decoration: none;
}

@media (max-width: 1440px) {
    .forms {
        margin: 3rem 35%;

    }
}

@media (max-width: 1024px) {
    .forms {
        margin: 3rem 25%;

    }
}

@media (max-width: 768px) {
    .forms {
        margin: 2rem 15%;

    }
}

@media (max-width: 425px) {
    .forms {
        margin: 0 10%;

    }
}