@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(default.css);

main {
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--cor-cinza);
}

h1 {
    color: var(--cor-preta);
    font-size: 2rem;
}

.btn {
    width: 16.375rem;
    height: 3rem;
    color: var(--cor-branca);
    border-radius: 4px;
    border: none;
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

.botao-entrar {
    background-color: var(--cor-laranja);
}

.botao-entrar:hover {
    background-color: var(--cor-laranja-hover);
    color: #f6f6f6;
}

.botao-cad {
    background-color: var(--cor-amarela);
}

.botao-cad:hover {
    background-color: var(--cor-amarela-hover);
    color: var(--cor-branca);
}

@media (max-width: 530px) {
    .btn {
        margin-bottom: 1.25rem;
    }
}