.navbar{
    background: var(--cor-navbar)
}

.nav-link {
    color: var(--cor-preta);
}

.nav-link:hover {
    background-color: var(--cor-amarela-hover);
    font-weight: 500;
    border-radius: 8px;
}

footer {
    background: var(--cor-footer);
    color: var(--cor-preta);
}