@import url(default.css);
@import url(navbar.css);

body{
    background-color: var(--cor-branca);
}

main {
    margin: auto;
    padding: 4vh;
    height: 90vh;
}


.btn-outline-success{
    color: var(--cor-laranja);
    border: 2px solid var(--cor-laranja-hover);
}

.btn-outline-success:hover{
    border-color: var(--cor-laranja);
    background-color: var(--cor-laranja-hover) ;
}

.pesquisar:hover{
    border-color: var(--cor-laranja);
}

.list-group {
    box-shadow: 0.5rem 0.2rem 1rem #cecaca;
    overflow-y: scroll;
    max-height: 600px;
    border-radius: 1rem;
}

.page-link, .page-link:hover{
    color: var(--cor-laranja-hover);
}

